Client/Service References/NotesService/GeneralContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GeneralContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GeneralContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="NotesData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Time" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotesData" nillable="true" type="tns:NotesData" />
  <xs:complexType name="ArrayOfNotesData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotesData" nillable="true" type="tns:NotesData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotesData" nillable="true" type="tns:ArrayOfNotesData" />
</xs:schema>